body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
#main_header{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: black;
    color: white;
}
.div_section{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
#shortcut_cmd{
    background-color: bisque;
    padding: 10px;
}
.div_section:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}
li{
    line-height: 30px;
}